html,

/*This makes a fade-in animation*/
body{
  animation: fadeInAnimation ease 1s; /*Time to fade*/
  animation-iteration-count: 1; /*Times it will fade; DONT TOUCH -_-*/
  animation-fill-mode: forwards; /*Makes it fade in*/
}

@keyframes fadeInAnimation{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-lightgray{
  background-color: white;
}
#starting-title{
  margin-left: 10px;
  margin-bottom: 10px; 
}


h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 2rem;
  text-align: left;
}

#ex {
  height: 50vh; /*How big or small it makes the section, note that each section will uniformly fill in the entire page.*/
}

.tag {
  opacity: 0;
  transform: translate(0, 2vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  background-color: lightyellow;
}
.red {
  background-color: lightcoral;
}
.blue {
  background-color: lightblue;
}
.green {
  background-color: lightgreen;
}


